<!-- <form action="/add" method="post">
    <label for="name">First name:</label><br>
    <input type="text" id="name" name="name"><br>
    <label for="email">Email</label><br>
    <input type="text" id="email" name="email">
    <label for="admin">admin</label><br>
    <input type="checkbox" id="admin" name="admin"></input>
    <input type="submit" id="submitDetails"  
            name="submitDetails" value="Submit" /><br>
  </form> -->